.catalog-logo {
  /*   color:white; */
}

.catalog-main {
  background: url('../images/services-ornament.png');
}

.catalog-title {
  padding: 40px 0 16px 0;
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
  /* or 35px */
  text-transform: uppercase;
  /* basic-extra-dark */
  color: #242424;
}

/* ---BREADCRUMBS-BLOCK---------- */

.breadcrumbs-block {
  padding: 0 0 32px 0;
}

.breadcrumbs-list {
  display: flex;
  /*   align-items:flex-end; */
}

.breadcrumbs-item {
  margin-right: 32px;
  position: relative;
}

.breadcrumbs-link {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #242424;
  text-decoration-line: underline;
}

.breadcrumbs-item:first-child a::after {
  content: '';
  background-image: url('../icons/pagination rectangle.svg');
  background-repeat: no-repeat;
  position: absolute;
  top: 35%;
  left: 120%;
  padding: 50px;
  /*   transform:translateY(-50%); */
}

.breadcrumbs-item:last-child a {
  text-decoration: none;
  /*   color:red; */
}

.breadcrumbs-icon {
}

/* ----CATALOG-AND-FILTERS--BlOCK--- */
.filters-catalog-block {
  display: flex;
  justify-content: space-between;
  min-height: 500px;
}

/* ---LEFT_SIDE_BLOCK---------- */

.left-side-block {
  margin-right: 20px;
}

/* ---RIGHT_SIDE_BLOCK---------- */

.right-side-block {
}


/* ----PRICE_FORM---------- */

.price-form {
  width: 200px;
}

.price-block {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #242424;
}

.price-input-block {
  /*   display:none; */
}

.price-title {
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
}

.price-input {
}

.price-range-block {
  text-align: center;
}

.catalog-filter-group {
  
}

.catalog-filter-title {
  font-style: normal;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
}
.catalog-filter-group {
  width:200px;
}
.catalog-filter-title {
}
.checkbox-block {
  display:flex;
  color:black;
/*   align-items:flex-end; */
  font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 140%;
}
.filters-checkbox {
 margin-left:-10px;
}
.checkbox-block span {
  margin:0px 0px 16px 20px; 
}

.catalog-filter-title {
}
.radio-block {
  font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 140%;
display:block;
 color:black; 
}
.radio-block span {
 margin:0px 0px 16px 18px;  
}
.filters-checkbox {
}

/* ---BUTTON------------ */

.filters-button {
  font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 100%;

margin-top:40px;
text-transform: uppercase;
 background-color:black;
  color:white;
  padding:12px 18.5px;
}



/* ------CATALOG_SORT--------- */
.catalog-sort-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*   width: 700px; */
  background-color: #FFFFFF;
  margin-bottom: 6px;
}

.catalog-select {
  margin: 16px;
  border: 2px solid black;
  padding: 10px 93px 10px 10px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  /* line-height: 150%; */
}

.select-input {
}

.select-sort-block {
  display: flex;
  align-items: center;
}

.sort-icon-list {
  width: 16px;
  height: 16px;
  margin-right: 20px;
}

.sort-icon-cards {
  padding: 14px 20px;
  background-color: black;
}

/* ----CARDS--BLOCK-------- */
.catalog-cards-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 700px;
}

.catalog-card {
  background-color: #FFFFFF;
  width: 220px;
  height: 401px;
  position: relative;
  margin: 10px 0;
}

.catalog-card-image {
  /*  margin:0px auto; */
  width: 220px;
  height: 168px;
  margin: 16px 0;
}

.catalog-card-info {
  /* background-color:white; */
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: left;
  color: #000000;
  padding: 16px 16px 0 16px;
}

.catalog-card-price {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  padding: 8px 0 0 16px;
  text-transform: uppercase;
  text-align: left;
  color: #814B18;
}

.catalog-buy-button {
  /*   margin-top: 40px; */
  background-color: black;
  color: white;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  /*   margin: 16px; */
  cursor: pointer;
  padding: 12px 63px;
  position: absolute;
  bottom: 16px;
  margin: 0 16px;
}

/* ---FOOTER--------------- */
footer {
  margin-top: 50px;
}
